<form action="<%= api_article_discussions_url(article_id) %>" method="POST">
  <%= render "layouts/csrf" %>
  <label>New Discussion
    <input name="discussion[summary]">
  </label>
  <button>Create</button>
</form>
