<li class="comment">
  <a id="comment_<%= comment.id %>"><%= comment.created_at %></a>
  <% if comment.quote %>
    <p class="comment-quote"><%= comment.quote %></p>
  <% end %>
  <p><%= comment.content %></p>
</li>
