<h1><%= @article.title %></h1>

<div>
  <%= @article.text %>
</div>

<h2>Ongoing Discussions</h2>

<ul>
  <% @article.discussions.each do |discussion| %>
  <li class="<%= "negative" unless discussion.visible %>"><%= link_to discussion.summary, discussion %></li>
  <% end %>
</ul>

<%#= render "discussions/new_discussion_form", article_id: @article.id %>

<script type="text/javascript">
  $(document).ready(function() {
    window.socket.setup();
  })
</script>
